@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: "Bravura";
    src: url(../fonts/Bravura.otf), format("opentype");
}

@font-face {
    font-family: "BravuraText";
    src: url(../fonts/BravuraText.otf), format("opentype");
}

*{
    font-size: small;
}

.dropdown button{
    height: 100%;
}

.vse-container{    
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    overflow: scroll;
}

body.waiting * {
    cursor: wait !important;
}
/* 
.textmode  * {
    cursor: text;
} */


#scoreRects > :is(.notehead, .clef, .meterSig, .keySig, .rest, .harm, .manipulator, .slur, .tie):hover{
    cursor: pointer;
}

.clickmode{
    cursor: crosshair
}

#rootSVG{
    top: 0px;
    width: 100%;
    height: auto;
    position: absolute;

}

#interactionOverlay{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100;
}

/* This one is for Debugging. 
Change fill-opacity and stroke-opacity to display boundsing boxes*/
.debug #scoreRects *{
    stroke-width: 1px;
    stroke: black;
    fill: gray;
    fill-opacity: 0.1;
    stroke-opacity: 1;
}

#scoreRects *{
    stroke-width: 1px;
    stroke: black;
    fill: gray;
    fill-opacity: 0;
    stroke-opacity: 0;
}


text{
    cursor: text;
}


/*
#svg_output, .annotLinkedText, .annotLinkedText *{
    white-space: pre;
}
*/

#svg_output{
    position: relative;
    height: 100%;
    overflow: scroll;
}

.staff.lastEntered > .staffLine:first-of-type, .staff.lastEntered > .staffLine:last-of-type, .staff.lastEntered ~ .barLine{
    filter: drop-shadow(5px 16px 15px black)
}

/* .note, .note *, .rest, .rest *, .staff, .measure, .manipulator, .slur, .tie *{
    cursor: pointer !important; 
} */

/*
*   TOOLBAR
*/

.verticalLine{
    border-left: 1px solid black;
    height: auto;
    position: absolute;
}

#insertMode.empty{
    background-image: url(../images/GUI/edit-solid.svg);
    background-position-x: 10%;
}

#insertMode{
    background-color: white;
    color: black;
}

.smufl{
    font-family: "BravuraText";
    font-size: xx-large;
}

#playBtn{
    background-image: url(../images/GUI/play-solid.svg);
    background-size: 80%;
}

#pauseBtn{
    background-image: url(../images/GUI/pause-solid.svg);
    background-size: 80%;
}

#rewindBtn{
    background-image: url(../images/GUI/backward-fast-solid.svg);
    background-size: 80%;
}

.btn{
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    outline: none;
    font-family: Bravura;
    font-size: small;
}

.btn-group-sm{
    display: flex;
}

/* .btn:hover, .btn.selected {
    filter: invert();
    color: black;
    background-color: white;
} */

.btn:hover{ 
   background-color: lightgray;
   color: #ffffff;
   
 }
 
 .btn.selected {
   background-color: black;
   color: #ffffff;
   
 }

#btnToolbar{
    top: 0px;
    transition: 0.5s;
    /*height: 5%;*/
}

.dropdown-item.selected{
    background-color: antiquewhite;
    font-weight: bold;
}

#toggleSidebar{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#toggleSidebar.closedSidebar{
    background-image: url(../images/GUI/bars-solid.svg);
    background-size: 80%;
}

#toggleSidebar.openSidebar{
    background-image: url(../images/GUI/bars-solid.svg);
    background-size: 80%;
}

#insertDropdownKM .hide{
    display: none;
}

#insertToggleDiv{
    display: none;
}

#fileSelectGroup{
  align-self: flex-end;
  margin-left: auto;
  display:flex
}

#handlerGroup{
    display: none
}

#importFile{
    display: none;
}

#sidebarContainer{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    transition: 0.5s;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: visible;
    display: flex;
    flex-direction: column;
}

#sidebarContainer a{
    display: block;
    padding-left: 10px;
}

/* #sidebarContainer *{
    font-size: 10pt;
} */

#sidebarContainer.closedSidebar{
    visibility: hidden;
    width: 0
}

#sidebarContainer.openSidebar{
    visibility: visible;
    width: 10%;
}

#sidebarContainer.openSidebar ~ div {
    margin-left: 10%;
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    transition: 0.5s;
}

#sidebarContainer.closedSidebar ~ div{
    margin-left: 0;
    width: 100%;
    transition: 0.5s;
}

#sidebarList{
    position: relative;
    overflow: scroll;
    width: 100%;
}

.dropKey, .dropClef, .dropTime, .dropTempo{
    fill: orange;
    color: orange;
}

#timeDiv{
    cursor:pointer !important;
}

#annotList{
    width: 100%;
    position: relative;
    background-color: white;
    border-top-color: black;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-style: double;
    overflow: scroll;
    order: 2;
}

#annotList > a{
    white-space: pre-line;
    overflow: unset;
}


.list-group{
    display: block;
}

#btnToolbar{
    display: flex;
}

.btn-toolbar:not(:empty){
    border-style: outset;
}

/*
* ANNOTATIONS
*/

/* 
#annotationCanvas.back *{
   opacity: 0.5;
}*/

#annotationCanvas.front *{
    opacity: 1;
}

.annotLinkedText .annotFO{
    background-color: rgba(255, 255, 153, 0.8);
    border-radius: 0px 10px 10px 10px;
}


.annotStaticText .annotFO div{
    background-color: white;
    border: 1px solid black;
}

.annotDiv{
    height: 100%;
    width: 100%;
}

.annotLine{
    stroke-width: 2px;
    stroke: lightskyblue;
    stroke-dasharray: 2px;
}


.lineDragRect{
    stroke-width: 1px;
    stroke: black;
    fill: whitesmoke;
    height: 7px;
    width: 7px;
    transform: translate(-3.5, -3.5);
}

.highlightAnnotation, .highlightChord{
    fill-opacity: 0.2;
    outline-style: dotted;
    outline-width: 0.5px;
    outline-color: black;
}

.layer[n="1"] .highlighted{
    /**fill: rgb(255, 71, 255)*/
    filter: drop-shadow(30px 10px 4px rgb(255, 71, 255));
}

#phantomNote.l1{
    fill: rgb(255, 71, 255)
}


.layer[n="2"] .highlighted, #phantomNote.l2{
    /**fill: green*/
    filter: drop-shadow(30px 10px 4px green);
}

.layer[n="3"]  .highlighted, #phantomNote.l3{
    /*fill: blue*/
    filter: drop-shadow(30px 10px 4px blue);
}

.layer[n="4"]  .highlighted, #phantomNote.l4{
    /*fill: orange*/
    filter: drop-shadow(30px 10px 4px orange);
}

.customAnnotShape{
    fill: orange;
    fill-opacity: 0.2;
    outline-style: dotted;
    outline-width: 0.5px;
    outline-color: black; 
}

.customAnnotShape.selected{
    outline-style: dashed;
    outline-color:cornflowerblue;
    outline-width: 1;
}


.annotLinkedText.selected > .annotFO, .annotStaticText.selected > .annotFO{
    border-color:cornflowerblue;
    border-width: 1;
    border-style: dashed;
}


[contentEditable=false]:empty:not(:focus):before{
    content:attr(data-text);
    color: lightgray;
}

.currentlyPlaying{
    fill:red;
    fill-opacity: 1;
}

#followerRect{
    fill: red;
    fill-opacity: 0.3;
    outline-style: none;
}

.marked, .lastAdded{
    fill: red
}

/* .lastAdded{
    fill: rgb(16, 100, 16)
} */

.playing{
    fill: red
}

/* LABELS */

.labelDiv{
    border: 2px solid black;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    min-width: 50px;
    background-color: beige;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

/* KEYMODE */

#keyModeSelectRect{
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 2px;
    fill: lightskyblue;
    fill-opacity: 0.4;
}

/* #manipulatorCanvas > #cursor{
    display: none
} */

/* CLICK MODE */


/* #phantomNote{
    transform: skew(-20deg);
} */


.phantomLine, .phantomMarker{
    stroke-width: 2px;
    stroke:black;
    opacity: 0.5;
}


/*StatusBar*/

#statusBar{
    position: absolute;
    height: 5%;
    width: 100%;
    bottom: 0;
    background-color: lightskyblue;
    border-style: outset;
    z-index: 100;
}


/*Score Manipulator*/

#manipulatorCanvas{
    z-index: 101;
}

.signElement{
    stroke: black;
    stroke-width: 10%;
}

#measureAdder, #measureRemover{
    height: 10%;
    width: 10%;
}

#manipulationButton{
    stroke:black;
    stroke-width: 5%;
    fill: antiquewhite;
}

.manipulator:hover * {
    filter: invert();
}


.tooltip.show{
    display: inline-block;
    background: skyblue;
    color: #643045;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
    border-color: maroon;
    display: block;
    opacity: 1;
  }

.tooltip.hide{
    display: none
}


/*Disable interaction*/

#ff_warning{
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: auto;
    height: 100%;
    text-align: center;
    font-size: xx-large;
    color:crimson;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#pauseNote{
    display: none;
}